.footer {
    background-color: var(--footer-background-color);
}

.footer h3 {
    color: var(--footer-header-color);
    font-family: var(--heading-font-family);
}

.footer p,
.footer li {
    color: var(--footer-text-color);
    margin: 10px 0;
    font-family: var(--content-font-family)
}