

@media screen and (max-width: 768px) {
    .hero {
        height: 60vh;
    }
}

/* FORM */

.formContainer {
    border-radius: 5px;
    @apply block shadow-lg px-6 pb-12 md:px-12;
}

/* ANNOUNCEMENT BAR */

.announcementBar {
    background-color: var(--announcementbar-background-color);
    color: var(--announcementbar-text-color);
}

/* PRICE */

.priceContainer {
    @apply block shadow-lg bg-white h-full rounded-md;
}

.priceCta {
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
    border-radius: 5px;
    @apply px-3 py-2
}

/* CONTACT */

.contactPage ul li {
    @apply my-3
}

.contactBlock li {
    @apply flex
}

/* GALLERY */

/* modal */
  .overlayModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
    align-items: center;
  }

  .overlayModal img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  }
  .overlayModal > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
  }
  .overlayLeftArrow {
    display: flex;
    background-color: var(--primary-accent);
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
  }
  
  .overlayLeftArrow svg {
    width: 30px;
    height: 50px;
    color: #fff;
  }
  
  .overlayRightArrow svg {
    width: 30px;
    color: #fff;
    height: 50px;
  }
  
  .overlayRightArrow {
    display: flex;
    background-color: var(--primary-accent);
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
  }