.headerOverlay:after {
    background: rgba(8, 9, 16, 0.45);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.section {
    background-position: center;
    background-size: cover;
}

/* BUTTON */

.primaryButton {
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
    border-radius: var(--button-radius);
    /* border: 1px solid var(--primary-button-text); */
    padding-left: var(--button-x-padding);
    padding-right: var(--button-x-padding);
    padding-top: var(--button-y-padding);
    padding-bottom: var(--button-y-padding);
    display: inline-block;
    @apply m-2
}

.secondaryButton {
    background-color: var(--secondary-button-background);
    color: var(--secondary-button-text);
    border-radius: var(--button-radius);
    /* border: 1px solid var(--secondary-button-text); */
    padding-left: var(--button-x-padding);
    padding-right: var(--button-x-padding);
    padding-top: var(--button-y-padding);
    padding-bottom: var(--button-y-padding);
    display: inline-block;
    @apply m-2
}